/* Elementos generales*/

/* Share Tech Mono Regular */
@font-face {
  font-family: "Share Tech Mono";
  src: url(/src/fonts/ShareTechMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Share Tech Mono";
  src: url(/src/fonts/ShareTechMono-Regular.ttf);
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Share Tech Mono Bold */
@font-face {
  font-family: "Share Tech Mono";
  src: url(/src/fonts/ShareTechMono-Regular.ttf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Share Tech Mono";
  src: url(/src/fonts/ShareTechMono-Regular.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Share Tech Mono", sans-serif;
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.2), -2px -2px 6px rgba(0, 255, 0, 0.2), 2px 2px 4px rgba(0, 255, 255, 0.2);
  color: rgb(130, 187, 135);
  font-size: responsive(1rem, 1.2rem, 400px, 800px);
  background-image: image-set(url("../img/portadabackground-responsive.png?as=webp") type("image/webp"), url("../img/portadabackground-responsive.png?as=jpg") type("image/jpeg"));
  background-size: cover;
  min-height: 100%;
}

body {
  padding: 0;
  overflow-x: hidden;
}

a:hover {
  color: white;
}

.inicio {
  width: responsive(200px, 400px);
  height: responsive(100px, 200px);
  font-size: responsive(1rem, 1.5rem);
  border: solid 5px rgb(130, 187, 135);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5), -2px -2px 6px rgba(0, 255, 0, 0.5), 2px 2px 4px rgba(0, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 1000;
  position: absolute;
}

.content-cover {
  background-color: rgba(2, 5, 7, 0.8);
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: responsive(0px, 100px);
  position: absolute;
  right: responsive(0rem, 8rem);
  overflow-y: hidden;
  overflow-x: hidden;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-cover picture {
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 10%;
  clip-path: polygon(45% 0%, 80% 0, 55% 90%, 20% 90%);
  margin: auto;
  display: block;
}

.nav-scroll-gen ul {
  background-color: rgb(2, 5, 7);
  list-style: none;
  background-position: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}
.nav-scroll-gen li {
  border: 1px black solid;
  padding: 0px;
  text-align: center;
}
.nav-scroll-gen a {
  text-decoration: none;
  color: rgb(130, 187, 135);
  text-transform: uppercase;
  margin: 0px;
  width: 100%;
  height: 100%;
  line-height: 50px;
  display: block;
  text-align: center;
}
.nav-scroll-gen a:hover {
  background-color: white;
  color: black;
}
.nav-scroll-gen img {
  height: 95%;
}

@keyframes changelogo {
  from {
    background-color: transparent;
    content: url(../img/logo.svg);
  }
  to {
    background-color: white;
    content: url(../img/logo-transitioned.svg);
  }
}
.logo-portada {
  content: url(../img/logo.svg);
  background-color: transparent;
  animation-duration: 10s;
  animation-name: changelogo;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.logo {
  background-color: white;
}

.text-cover {
  scrollbar-color: black rgb(130, 187, 135);
  overflow-x: hidden;
  height: 95vh;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  line-height: 2rem;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.header h1 {
  padding: 5% 5% 2.5% 5%;
  text-align: center;
  font-size: responsive(1.5rem, 3rem);
}
.header h2 {
  text-align: center;
  font-size: responsive(1rem, 1.5rem);
  padding: 2.5% 5% 5% 5%;
}

.cabecera {
  text-align: center;
  padding-top: 3%;
}

h1 a {
  text-decoration: none;
  color: white;
  letter-spacing: 1vw;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

/*Categoria*/
.container-gen {
  padding-left: responsive(0px, 200px);
  padding-right: responsive(0px, 200px);
}

.header-gen {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(2, 5, 7, 0.8);
  text-align: center;
  overflow: hidden;
}
.header-gen h1 a {
  font-size: responsive(1.5rem, 2rem);
  text-align: left;
}
.header-gen h2 {
  font-size: responsive(1rem, 1.5rem);
}

.category-wrapper {
  border: 2px solid black;
  overflow: hidden;
  line-height: 5vh;
  background-color: rgba(2, 5, 7, 0.8);
}

.categorias ul li a {
  background-size: cover;
  text-transform: uppercase;
  background-position: center;
  font-size: responsive(1rem, 3rem);
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgb(130, 187, 135);
  border: 2px solid rgb(130, 187, 135);
  align-items: center;
  text-decoration: none;
  height: 20vh;
  display: block;
  text-align: center;
  padding-top: 9vh;
  margin: 10px;
}
.categorias ul li a:hover {
  filter: brightness(125%);
}
.categorias .detalles {
  background-image: image-set(url("../img/detalles-severance-hero.webp") type("image/webp"), url("../img/detalles-severance-hero.webp?as=jpg") type("image/jpeg"));
}
.categorias .makingof {
  background-image: image-set(url("../img/making_of.webp") type("image/webp"), url("../img/making_of.webp?as=jpg") type("image/jpeg"));
}
.categorias .chapters {
  background-image: image-set(url("../img/chapters.webp") type("image/webp"), url("../img/chapters.webp?as=jpg") type("image/jpeg"));
}
.categorias .curiosidades {
  background-image: image-set(url("../img/curiosidades.webp") type("image/webp"), url("../img/curiosidades.webp?as=jpg") type("image/jpeg"));
}

.text-category {
  text-align: justify;
  overflow-y: hidden;
  scrollbar-color: black rgb(130, 187, 135);
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-bottom: 10vh;
}

#text-placeholder {
  padding-top: 35vh;
  display: none;
}

#current {
  filter: brightness(125%);
  pointer-events: none;
  cursor: not-allowed;
}

article {
  text-align: left;
}
article h3 {
  text-align: left;
  padding-bottom: 0rem;
  padding-left: 1rem;
  text-decoration: underline;
}
article h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
article p {
  line-height: 2rem;
  padding: 1rem;
}
article a {
  color: inherit;
  text-decoration: none;
}

.trailer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

iframe {
  width: responsive(280px, 560px);
  height: responsive(157.5px, 315px);
}

.detalles {
  padding: 2rem;
  line-height: 2rem;
}

figure {
  text-align: center;
}

figure img {
  width: 75vw;
}

img {
  margin: auto;
  display: block;
}

picture img {
  width: 75vw;
  margin: auto;
  display: block;
}

.ficha {
  padding-top: 20px;
  width: 15vh;
}

table {
  padding: responsive(0px, 1rem);
  font-size: responsive(12px, 1rem);
}
table * {
  padding-top: 2rem;
}
table thead th {
  border: 1px solid;
  text-align: center;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}
table tbody * {
  border: 1px solid;
  text-align: center;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

.img-presentacion {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  width: 400px;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 571px) {
  html {
    background-image: image-set(url("../img/portadabackground.png?as=webp") type("image/webp"), url("../img/portadabackground.png?as=jpg") type("image/jpeg"));
  }
  body {
    overflow-y: scroll;
  }
  .content-cover {
    height: 90vh;
    width: 90vw;
  }
  figure img {
    width: initial;
  }
  .destacada img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .text-cover {
    overflow-y: scroll;
  }
  .text-category {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 992px) {
  html {
    background-position: initial;
  }
  body {
    overflow-y: auto;
  }
  .content-cover {
    width: 40vw;
    height: 80vh;
  }
  .content-cover picture > img {
    width: 100%;
    height: auto;
  }
  .header-gen * {
    padding-top: 0;
  }
  .text-cover {
    overflow-y: scroll;
  }
  .container-gen {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .category-wrapper {
    display: flex;
    height: 85vh;
  }
  .categorias ul {
    justify-content: center;
    list-style-type: none;
  }
  .categorias ul li a {
    display: flex;
    width: 18vw;
    padding: 0;
    justify-content: center;
    font-size: 2vw;
  }
  #text-placeholder {
    display: block;
  }
  .text-category {
    overflow-y: scroll;
  }
}

/*# sourceMappingURL=output.css.map */
